<!-- Banner -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to E - View</h1>
    <p class="lead">a review web app for all your favorite Evs</p>
  </div>
</div>

<div class="sign-up-form">

<!-- Left Side / Login -->

<h1>Create An Account</h1>
<%= bootstrap_form_for @user do |f| %>
    <% if flash[:user_errors]  %>
        <% flash[:user_errors].each do |error| %>
            <p><%= error %>
        <% end %>
    <% end %>
    <div class="sign-up-text">
    <%= f.text_field :name, class: 'text_field_form' %>
    <%= f.text_field :username, class: 'text_field_form' %>   
    <%= f.password_field :password, class: 'text_field_form' %>
    <%= f.number_field :age, class: 'text_field_form' %>
    <%= f.submit "SUBMIT"%>
    </div>
<% end %>
    <div class="already_have_an_account">
        <h3>Already have an account? <%= link_to 'Login', new_login_path %></h3>
    </div>
        <%= link_to 'Return Home', home_main_path, class: 'dont_have_an_account_return_home' %>
</div>




