<h1> Welcome to E-View!!! </h1>

<h3>  Sign up below and join the revolution today  </h3>


<%= form_for @user do |f| %>
    <% if flash[:user_errors] %>
        <% flash[:user_errors].each do |error| %>
            <p><%= error %></p>
        <% end %>
    <% end %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :username %><br>
    <%= f.text_field :username %><br>
    <%= f.label :password %><br>
    <%= f.text_field :password %><br>
    <%= f.label :age %><br>
    <%= f.number_field :age %><br>
    <br>
    <br>
    
    
    <%= f.submit%>
<% end %>