<!-- Banner -->
<div class="parent_profile_page">
  <div class="banner"> 
    <h1>Welcome Back, <%= @user.name.downcase %></h1>
  </div>
  <div class="navbar"> 
    <h3>Profile</h3>
    <nav class="nav">
      <a class="nav-link" <%= link_to 'Add A Review', new_review_path %></a>
      <a class="nav-link" <%= link_to 'Achievements',  achievement_path(@current_user) %></a>
      <a class="nav-link" <%= link_to 'Favorites',  user_favorites_path(@current_user) %></a>
      <a class="nav-link" <%= link_to 'Search Cars', make_index_path %></a>
      <a class="nav-link" <%= link_to 'Edit Info', edit_user_path(@current_user) %></a>
      <a class="nav-link" <%= link_to 'Home', home_main_path(@current_user) %></a>
      <a class="nav-link" <%= link_to 'Log Out', logout_path, method: :delete %></a>
      <a class="nav-link" <%= link_to 'Delete Account', delete_user_path(@current_user) %></a>
    </nav>
  </div>
  <div class="username"> 
    <h4>username: <span class="badge badge-secondary"><%= @user.username.downcase %></span></h4>
    <h4>age: <span class="badge badge-secondary"><%= @user.age %></span></h4>
  </div>
  <div class="avatar"> 
    <img src=<%= @user.img_url %> alt="avatar">
  </div>
  <div class="three_reviews"> 
    <h4>your recent reviews <span class="badge badge-secondary"></span></h4>
    <% if @recent_reviews.first %>
        <div class="card text-center">
          <div class="card-header"><%= @recent_reviews.first.car.make_plus_model %></div>
          <div class="card-body">
            <h5 class="card-title"><%= @recent_reviews.first.rating.to_s + " / 10.0 " %></h5>
            <p class="card-text"><%= @recent_reviews.first.content %></p>
          </div>
          <div class="card-footer text-muted">
            <a class="btn btn-primary" <%= link_to 'View more reviews for this car', car_reviews_path(@recent_reviews.first.car) %></a>
          </div>
        </div>
      <% else %>
        <h2>You don't have any reviews yet. </h2>
    <% end %>
    <% if @recent_reviews.second %>
        <div class="card text-center">
          <div class="card-header"><%= @recent_reviews.second.car.make_plus_model %></div>
          <div class="card-body">
            <h5 class="card-title"><%= @recent_reviews.second.rating.to_s + " / 10.0 "  %></h5>
            <p class="card-text"><%= @recent_reviews.second.content  %></p>
          </div>
          <div class="card-footer text-muted">
            <a class="btn btn-primary" <%= link_to 'View more reviews for this car', car_reviews_path(@recent_reviews.first.car) %></a>
          </div>
        </div>
    <% end %>
  </div>
  <div class="favorites_banner"> 
    <h1>Your Favorited EVs</h1>
  </div>
  <div class="favorite-cars">
     <% if @current_user.favorites.first %>
      <div class="text-center">
        <img src=<%= @current_user.favorites.first.car.image %> alt=<%= @current_user.favorites.first.car.make_plus_model%> class="img-thumbnail">
        <img src=<%= @current_user.favorites.first.car.image %> alt=<%= @current_user.favorites.first.car.make_plus_model%> class="img-thumbnail">
        <img src=<%= @current_user.favorites.first.car.image %> alt=<%= @current_user.favorites.first.car.make_plus_model%> class="img-thumbnail">
      </div>
    <% end %>
    <% if @current_user.favorites.second %>
      <div class="text-center">
        <img src=<%= @current_user.favorites.second.car.image %> alt=<%= @current_user.favorites.second.car.make_plus_model%> class="img-thumbnail">
      </div>
    <% end %>
     <% if @current_user.favorites.third %>
      <div class="text-right">
        <img src=<%= @current_user.favorites.third.car.image %> alt=<%= @current_user.favorites.third.car.make_plus_model%> class="img-thumbnail">
      </div>
    <% end %>
  </div>
</div>
<div class="div8"> </div>
<div class="div9"> </div>
<div class="div10"> </div>
<%# <!-- View All Reviews Button  --> %>
<div class= "view-button">
<%= button_to "View All Reviews", user_reviews_path, method: :get %>
</div>
<!-- Footer Backsplash Image -->






