<h1><%= @user.name %></h1>


<!-- User Nav Bar -->
<%= link_to "Log Out", logout_path, method: :delete %>
<br>
<%= link_to 'Back to Home Page', home_main_path %>
<br>
<%= link_to 'Achievements', achievement_path(@user) %>
<br>
<%= link_to 'Favorites', user_favorites_path(@user) %>
<br>
<%= link_to 'Search Cars', make_index_path %>
<br>
<%= link_to 'Delete Account', delete_user_path(@user) %>
<br>
<%= link_to 'Add A Review', new_review_path %>
<!-- Avatar Picture -->

<!-- Username  -->
<h3><%=@user.username %></h3>

<!-- Three Recent Reviews -->
<h3>
    <% @recent_reviews.each do |review| %>
        <%= review.car.make%>
        <%= review.car.model %>
        <br>
        Rating:<%= review.rating %>
        <br>
       Content: <%= review.content %>
        <%= review.likes %>
        <br>
        <hr>
    <% end %>
</h3>

<!-- View All Reviews Button -->
<%= button_to "View All Reviews", user_reviews_path, method: :get %>

<!-- Footer Backsplash Image -->