<div class="parent_fp">
  <div class="banner"> 
    <h1>all your favorite Evs</h1>
  </div>
  <div class="navbar"> 
    <h3>Favorites</h3>
    <nav class="nav">
      <a class="nav-link" <%= link_to 'Return to Profile',  user_path(@current_user) %></a>
      <a class="nav-link" <%= link_to 'Add A Review', new_review_path %></a>
      <a class="nav-link" <%= link_to 'Personal Stats',  achievement_path(@current_user) %></a>
      <a class="nav-link" <%= link_to 'Search Cars', make_index_path %></a>
      <a class="nav-link" <%= link_to "View All Reviews", user_reviews_path %></a>
      <a class="nav-link" <%= link_to 'Edit Info', edit_user_path(@current_user) %></a>
      <a class="nav-link" <%= link_to 'Home', home_main_path(@current_user) %></a>
      <a class="nav-link" <%= link_to 'Log Out', logout_path, method: :delete %></a>
      <a class="nav-link" <%= link_to 'Delete Account', delete_user_path(@current_user) %></a>
    </nav>
  </div>
  <div class="fav-list">   
      <br>
      <br>
  <ul>
      <% @user.favorites.each do |f| %>
        
        <img src=<%= f.car.image %>
        width= "400";
        height= "235"><br>
        <br>
        <li>
          <%= f.car.make  %> <br>
          <%= f.car.model %>
          <br>
          <br>
          <br>
          </li>
      <% end %>
  </ul>
   
  </div>
</div>

