<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Here's A List Of Your Favorited Cars</h1>
      <p class="lead"></p>
    </div>
  </div>


    

    <div class="navbar"> 
        <h3></h3>
        <nav class="nav">
          <a class="nav-link" <%= link_to 'Home', home_main_path(@current_user) %></a>
          <a class="nav-link" <%= link_to 'Profile Page', user_path(@current_user) %></a>
          <a class="nav-link" <%= link_to "Log Out", logout_path, method: :delete %></a>
        </nav>
      </div>
    
<div class="fav-list">   
    <!-- <b><%= link_to 'Back to Profile', user_path(@user) %></b> -->
    <br>
    <br>
<ul>
    <% @user.favorites.each do |f| %>
        
       <img src=<%= f.car.image %> 
       width="400" 
       height="235"><br>
       <br>
       <li>
        <%= f.car.make  %> <br>
        <%= f.car.model %>
        <br>
        <br>
        <br>
        </li>
    <% end %>
</ul>
</div>


