<h1>E - View Home Page</h1>


<!-- Nav Bar -->
<% if @current_user %>
    <li>Welcome <%= @current_user.name %> </li>
    <br>
    <%= link_to "Log Out", logout_path, method: :delete %>
    <br>
    <li><%= link_to 'Profile Page', user_path(@current_user) %></li>
    <br>
    <li><%= link_to 'Search Cars',  make_index_path %></li>
<% else %>
    <%= link_to 'Sign Up', new_user_path %>
    <br>
    <%= link_to 'Log In',  new_login_path %>  
<% end %>

<!-- Description -->


<!-- Car Image of Highest Rated Car-->

<!-- App Reviews -->







