<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Car Show Page</h1>
      <p class="lead"></p>
    </div>
  </div>


  <div class="navbar"> 
    <h3></h3>
    <nav class="nav">
      <a class="nav-link" <%= link_to 'Home', home_main_path(@current_user) %></a>
      <a class="nav-link" <%= link_to 'Add A Review', new_review_path %></a>
      <a class="nav-link" <%= link_to 'Profile Page', user_path(@current_user) %></a>
      <a class="nav-link" <%= link_to "Log Out", logout_path, method: :delete %></a>
    </nav>
  </div>

</b>

<div class="car-show">

<!--  Car Make + Model --->
<h5><b>Car: </b>

<%= @car.make %>
<%= @car.model %>

<b><br> Description:</b>
<%= @car.description %> </h5>
<br>
<br>
<!-- Car Image-->
<img src= <%= @car.image %> 
       width="400" 
       height="235" >

<!-- Average Rating-->
<% if @car.reviews.count > 0 %>
    <h4>Average Rating: <%= @car.rating.round(2) %></h4>
  <% else %>
    <%= 'There are no reviews for this car yet' %>
<% end %>

<!-- Car Description-->


<!-- Fav button -->

<% if @car.reviews.count > 0 %>
    <%= button_to 'View All Reviews For This Car', car_reviews_path(@car.id), method: :get %>
<% end %>
<hr>
<br>
<%= button_to 'Add to Favorites', add_to_favorites_path(@car.id), method: :post %>
<b>
<% if flash[:favorited] %>
    <%= flash[:favorited] %>
<% else %>
    <%= flash[:favorite_error] %>
<% end %>
</b>

</div>








