<h1> Car Show Page </h1>

<!-- Nav Bar -->
<%= link_to 'Back to Home Page', home_main_path %>
<br>
<hr>
<%= button_to 'View All Reviews For This Car', car_reviews_path(@car.id), method: :get %>
<hr>
<br>
<%= button_to 'Add to Favorites', add_to_favorites_path(@car.id), method: :post %>
<b>
<% if flash[:favorited] %>
    <%= flash[:favorited] %>
<% else %>
    <%= flash[:favorite_error] %>
<% end %>
</b>

<!--  Car Make + Model --->
Car:
<%= @car.make %>
<br>
<%= @car.model %>
<br>

<!-- Car Image-->


<!-- Average Rating-->


<!-- Car Description-->


