<h1>New Review</h1>

<%= form_for @review do |f| %>

    <% if flash[:review_errors] %>
        <% flash[:review_errors].each do |error| %>
            <p><%= error %></p>
        <% end %>
    <% end %>
    <%= f.label :content %><br>
    <%= f.text_field :content %><br>
    <%= f.label "Car Manufacturer" %><br>
    <%= f.collection_select(:car_id, Car.all, :make, :model, {:prompt => "please select a model"}, {:multiple => true})%><br>
    <%= f.submit%>
<% end %>

