<h1>Make A Car Review</h1>

<%= form_for @review do |f| %>

    <% if flash[:review_errors] %>
        <% flash[:review_errors].each do |error| %>
            <p><%= error %></p>
        <% end %>
    <% end %>
    <b> <%= f.label "Select A Car" %><br></b> 
    <%= f.collection_select :car_id, Car.all, :id, :make_plus_model %><br>
    <br>
    <b><%= f.label 'Rating' %></b>
    <%= f.select :rating, (0..10) %>
    <br>
    <b><%= f.label :content %><br></b>
    <%= f.text_area :content %><br>
    <br>
    <%= f.submit %>
<% end %>

<%= link_to 'Return to Profile', user_path(@current_user) %>

