<div class="parent_profile_page">

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Car Review Show Page </h1>
      <p class="lead"></p>
    </div>
</div>

<!-- Nav Bar -->

<div class="navbar"> 
    <h3></h3>
    <nav class="nav">
      <a class="nav-link" <%= link_to 'Home', home_main_path(@current_user) %></a>
      <a class="nav-link" <%= link_to 'Profile Page', user_path(@current_user) %></a>
      <a class="nav-link" <%= link_to "Car Show Page", car_path(@review.car) %></a>
    </nav>
</div>

<div class="review-show-page">
    <img src= <%= @review.car.image %>><br><br>
  <h3>Make: <%= @review.car.make %></h3>
  <h3>Model: <%= @review.car.model %></h3>
  <h3>Review: <%= @review.content %></h3>
  <h3>Rating: <%= @review.rating %></h3>
  <br>

  <!-- like button -->
  <h4>Current Upvotes: <%= @review.likes %></h4>
  <% if flash[:like_error] %>
      <h5><%= flash[:like_error] %> </h5>
  <% end %>
  <br>
  <%= button_to 'Upvote', add_a_like_path(@review), method: :patch%>
<br>
</div>
</div>
