<h1> Car Review Show Page </h1> 
<h3><%= @review.car.make %></h3>
<h3><%= @review.car.model %></h3>
<h3><%= @review.content %></h3>
<h3><%= @review.rating %></h3>
<br>


<%= link_to 'Back to Profile', user_path(@review.user_id) %>
<br>
<%= link_to 'Back to Home', home_main_path %>